<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Hi, <%= @user.first_name %></h3>    
    <p>You only have 7 days of <strong><%= @med.name %></strong> remaining.</p> 
    <p>Don't forget to order more and update the amount <%= link_to "here", edit_medication_url(@med) %></p>
  </body>
</html>