<h1><%= "#{@user.first_name} #{@user.last_name}'s medications" %></h1>
<% if @user.medications.any? %>
  <%= render 'medication_table', locals: { medications: @medications } %>
<% else %>
    <%= render 'shared/add_item_card' %>  
<% end %>