<div class="navbar">
      <div id="logo">
        <i class="fas fa-heartbeat"></i>
      </div>
      <div id="title">
        HealthDash
      </div>
      <div id="navbar-links">
      <ul>
        <a href="#"><li>Nav item 1</li></a>
        <a href="#"><li>Nav item 2</li></a>
        <a href="#"><li>Nav item 3</li></a>
      </ul>      
      </div>
      <a href="#"><li><div class="avatar"><i class="far fa-user"></i></div></li></a>
    </div>