<div class="navbar">
      <div id="logo">
        <i class="fas fa-heartbeat"></i>
      </div>
      <div id="title">
        HealthDash
      </div>
      <div id="navbar-links">
      <ul>
        <a href="#"><li><%= link_to "Appointments", appointments_path %></li></a>
        <a href="#"><li><%= link_to "Medications", medications_path %></li></a>
        <a href="#"><li><%= link_to "Records", "#" %></li></a>
      </ul>      
      </div>
      <a href="#"><li><div class="avatar"><i class="far fa-user"></i></div></li></a>
    </div>