<div class="navbar">
      <div id="logo">
        <%= link_to root_path do %>
          <i class="fas fa-heartbeat"></i>
        <% end %>
      </div>
      <div id="title">
        HealthDash
      </div>
      <div id="navbar-links">
      <ul>
        <li><%= link_to "Appointments", appointments_path %></li>
        <li><%= link_to "Medications", medications_path %></li>
        <li><%= link_to "Records", records_path %></li>
      </ul>      
      </div>
      <a href="#"><li><div class="avatar"><i class="far fa-user"></i></div></li></a>
    </div>