<h1 class="centered records-h1"><%= @record.name %></h1>
<h3 class="centered records-h3"><%= @record.description %></h3>

<% if @record.letter.attached? %>
  <div id="iframe-container">
  <iframe id="pdf" src="<%= url_for @record.letter %>" frameborder="1" scrolling="auto"></iframe>  
</div>
<% else %>
<h3>No document associated with this record, would you like to add one?</h3>
  <%= link_to "Add a document", edit_record_path(@record) %>
<% end %>
