<div class="cards-container">
  <div class="card">
    <div class="card-title">Appointments</div>
    <div class="card-body"><i class="far fa-calendar-alt"></i></div>
  </div>
  <div class="card">
      <div class="card-title">Medications</div>
    
      <div class="card-body">
        <%= link_to medications_path do %>
          <i class="fas fa-capsules"></i>
        <% end %>
      </div>
  </div>
  <div class="card">
    <div class="card-title">Records</div>
    <div class="card-body"><i class="far fa-file-alt"></i></div>
  </div>
</div>