// Place all the styles related to the appointments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.simple-calendar {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .day {
    padding: 20px;
    border: 2px solid lightgray;    
  }

  .day:hover {
    background-color: lightgreen;
  }

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {
    background-color: lightblue;
  }
  .past {}
  .future {}

  .start-date {}

  .prev-month {}
  .next-month { }
  .current-month {}

  .has-events {
    background-color: lightgoldenrodyellow;
  }
}