// Place all the styles related to the medication controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.add-item-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  border-radius: 7px;
  border: 2px solid lightgray;
  box-shadow: 1px 3px 3px gray;
  margin-top: 40px;
  font-size: 30px;
  color: rgba(0, 0, 0, 0.7);
}

#medication-table {
  width: 100%;
  margin-top: 50px;
  border: 2px solid lightgray;
  border-radius: 7px;

  th {
    font-size: 20px;
    width: 200px;
    border-bottom: 1px solid darkgray;
    padding: 20px;
  }

  td {
    text-align: center;
    font-size: 15px;
    padding: 20px;
  }

  tr:nth-child(even) {background-color: #f2f2f2;}

  .hoverable-row:hover {
    background-color: rgba(255, 0, 0, 0.05);
  }

  .hoverable-row-dark:hover {
    background-color: rgba(255, 0, 0, 0.65);
  }

  #wide-table-row {
    column-span: all;
    background-color: orange;
  }

  a {
    text-decoration: none;
    color: rgba($color: #000000, $alpha: 0.75);
    font-size: 20px;
    padding: 20px;
  }

  a:hover {
    color: black;
  }
}

.centered {
  text-align: center;
  margin: 0 auto;
}

.heading {
  margin-top: 30px;
}

// .medication-form {
//   width: 400px;
//   background-color: rgba(255, 0, 0, 0.05);  
//   padding: 20px;
//   border-radius: 15px;
//   margin-top: 30px;

//   .input {
//     display: flex;
//     justify-content: space-between;
//     margin: 15px;
//     height: 25px;    
//   }

//   input {
//     border-radius: 9px;
//     border: 1px solid lightgray;
//     padding: 10px;
//   }

//   h3 {
//     margin-bottom: 30px;
//   }

//   .submit {
//     margin: 20px;
//   }
// }

.btn-submit {
  color: red;
}

#new_medication {
  
  #medication_description {
    width: 185px;
    border-radius: 9px;
    border: 1px solid lightgrey;
    resize: none;
  }
  .medication_description {
    height: 90px;
  }
}