<h1 class="centered heading">Your appointments</h1>

<%= link_to "Add a new appointment", new_appointment_path, class: "btn" %>
<%= month_calendar(events: @appointments) do |date, appointments| %>
  <%= date.day %>

  <% appointments.each do |appointment| %>
    <div id="appointment-info">
        <%= link_to appointment.name, appointment_path(appointment, cal_view: params[:start_date]) %>
    </div>
  <% end %>
<% end %>

